PORT=3030

FB_VERIFY_TOKEN=FacebookVerifyToken

FB_PAGE_ACCESS_TOKEN=FacebookPageAccessToken

DT_ENDPOINT=https://YOUR_DT_URL/wp-json/disciple_tools_conversations/v1/incoming_conversation
DT_API_KEY=DT_SITE_LINK_KEY

REDISURL=127.0.0.1
REDISPORT=6379